.form-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*background-color: #fafafa;*/
}

.form-container-add{
    text-align: center;
    margin: 0;
    font-size: 150%;
    padding: 10px 10px;
    padding-top: 0;
    border:1px dotted;
    width: 20px;
    height: 20px;
    cursor: pointer;

}

.modules-container{
    background-color: lightblue;
    padding: 5px 10px;
    margin-bottom: 10px;

}

.modules-module{
    position:relative;
}

.modules-module i:first-child{
    position: absolute;
    right: 10px;
    top:10px;
    font-weight: bolder;
    font-style: normal;
    cursor: pointer;
    color: orangered;
}

.modules-video{
    background-color: deepskyblue;
    padding: 5px 10px;
    margin-bottom: 5px;
    position: relative;
}
.modules-video i{
    position: absolute;
    right: 10px;
    top:10px;
    font-weight: bolder;
    font-style: normal;
    cursor: pointer;
    color: orangered;
}